section#submit-proposal
  h2 Submit Your Proposal
  p.p-footer
    | If you have an idea or project you'd like to collaborate on, we'd love to hear from you. Submit your proposal through our platform, and if it's a great fit for our community, we'll work together to bring it to life and reward you with tokens and NFTs.

  form(id="form-footer", action="#" method="post")
    label(for="name") Name
    input#name(type="text" name="name" required)
    label(for="email") Email
    input#email(type="email" name="email" required)
    label(for="proposal") Proposal
    textarea#proposal(name="proposal" rows="10" cols="50" placeholder="Write your proposal here.." required)
    label(for="file") Attach File
    input#file(type="file" name="file" accept=".pdf,.doc,.docx")
    button.apply-button(type="submit") Submit Proposal

footer#main-footer
  .container.footer-container
    .row
      .col-md-4.footer-brand
        a.brand-logo(href="/")
          img(src="img/logo.png", alt="GPT-DAO Logo")
        p.footer-description GPT-DAO is a decentralized autonomous organization focused on advancing AI technology through open collaboration.
      .col-md-4.footer-links
        h3 Quick Links
        ul
          li
            a(href="/about") About Us
          li
            a(href="/projects") Projects
          li
            a(href="/community") Community
          li
            a(href="/resources") Resources
          li
            a(href="/contact") Contact Us
      .col-md-4.footer-newsletter
        h3 Newsletter
        .newsletter-content
          p Subscribe to our newsletter to stay updated on our latest developments and events.
          form(action="/subscribe", method="POST")
            input(type="email", name="email", placeholder="Enter your email", required)
            button(type="submit") Subscribe
    .row.footer-social
      h3 Follow Us
      ul.social-icons
        li
          a(href="https://www.facebook.com/gptdao", target="_blank")
            i.fas.fa-facebook-f
        li
          a(href="https://www.twitter.com/gptdao", target="_blank")
            i.fas.fa-twitter
        li
          a(href="https://www.linkedin.com/company/gptdao", target="_blank")
            i.fas.fa-linkedin-in
        li
          a(href="https://github.com/gptdao", target="_blank")
            i.fas.fa-github
    .row.footer-copyright
      p &copy; #{new Date().getFullYear()} GPT-DAO. All rights reserved.
