doctype html
html
  head
    block head
      meta(charset='UTF-8')
      meta(name='viewport' content='width=device-width, initial-scale=1.0')
      title GPTDAO | #{title}
      style
        include ./css/style.css
        include ./css/course.css
        include ./css/footer.css
      link(rel='stylesheet' href='/css/footer.css')
      link(rel='stylesheet' href='/css/style.css')
      link(rel='stylesheet' href='/css/course.css')
      link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css')  
      link(rel='shortcut icon' type='image/png' href='img/favicon.png')
      link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Lato:300,300i,700')
      script(src='/../../script.js')

  body(data-alert=`${alert ? alert : ''}`)
    include _header

    block content
      h1.page-heading University
      section#about.about
      .main-container
        .main-row
          .main-content
            h1.section-title Introduction to Artificial Intelligence
            .image-content
              img.course-img(src='/images/05.png' alt='...')
            .course-content-wrapper
              h2.content-title Course Syllabus
              ul.course-list
                li.course-item
                  span.mark-complete ✓
                  |  Course Introduction
                li.course-item
                  span.mark-complete ✓
                  |  AI Fundamentals
                li.course-item
                  span.mark-complete
                  |  Neural Networks
                li.course-item
                  span.mark-complete
                  |  Deep Learning
                li.course-item
                  span.mark-complete
                  |  Applications of AI
              h2.content-title Course Resources
              ul.resource-list
                li.resource-item
                  a(href='resource.pdf' download) Downloadable Course Material
                li.resource-item
                  a(href='external-resources.html') External Resources and Further Reading
          .side-content
            h2.progress-title Progress
            .course-progress-wrapper
              .course-progress
                .progress-fill(role='progressbar', style='width: 25%;', aria-valuenow='25', aria-valuemin='0', aria-valuemax='100')
            p.progress-percentage 25% Complete
            h2.course-info-title Course Information
            .course-info-wrapper
              .card-body
                h5.info-title Duration
                p.info-text 12 hours
                h5.info-title Level
                p.info-text Beginner
                h5.info-title Language
                p.info-text English
                h5.info-title Instructor
                p.info-text John Smith
                h5.info-title Target Audience
                p.info-text Students
                h5.info-title Tags
                p.tag-list
                  span.tag Programming
                  span.tag Machine Learning
                h5.social-title Social Media
                .social-btn-wrapper
                  .btn-group
                    button.btn.btn-like(type='button')
                      i.fa.fa-thumbs-up
                      |  Like
                    button.btn.btn-comment(type='button')
                      i.fa.fa-comment
                      |  Comment
            h2.reviews-title Course Reviews
            h2.related-title Related Courses
            .related-course-wrapper
              ul.related-course-list
                a.related-course-item(href='#') Machine Learning for Beginners
                a.related-course-item(href='#') Data Science Fundamentals

    include _footer
    script(crossorigin="anonymous" src='https://js.stripe.com/v3/')
