doctype html
html
  head
  style
    include ./css/index2.css
    include ./css/style.css
    link(rel="stylesheet" href="style.css")

    link(rel="stylesheet" href="index2.css")

  body
    header
      // Insert header content here

    main
      section#home
        h2 Welcome
        // Project suggestions based on user interests
        div.project-suggestions
        h3 Project Suggestions Based on Your Interests
        div.suggestions-container
          //- Add project suggestion cards here
          div.suggestion-card
            img(src="project1.jpg" alt="Project 1")
            h4 Project 1
            p A short description of Project 1
            a(href="#") Learn more
          
          div.suggestion-card
            img(src="project2.jpg" alt="Project 2")
            h4 Project 2
            p A short description of Project 2
            a(href="#") Learn more

      // Featured projects with high community interest
      div.featured-projects
        h3 Featured Projects
        div.featured-container
          //- Add featured project cards here
          div.featured-card
            img(src="featured1.jpg" alt="Featured Project 1")
            h4 Featured Project 1
            p A short description of Featured Project 1
            a(href="#") Learn more

          div.featured-card
            img(src="featured2.jpg" alt="Featured Project 2")
            h4 Featured Project 2
            p A short description of Featured Project 2
            a(href="#") Learn more

      // A list of the user's favorite projects
      div.user-favorites
        h3 Your Favorite Projects
        div.favorites-container
          //- Add user's favorite project cards here
          div.favorite-card
            img(src="favorite1.jpg" alt="Favorite Project 1")
            h4 Favorite Project 1
            p A short description of Favorite Project 1
            a(href="#") Learn more

          div.favorite-card
            img(src="favorite2.jpg" alt="Favorite Project 2")
            h4 Favorite Project 2
            p A short description of Favorite Project 2
            a(href="#") Learn more

      // Updates and news from the projects user follows
      div.updates-news
        h3 Updates & News from the Projects You Follow
        div.updates-container
          //- Add updates and news cards here
          div.update-card
            img(src="update1.jpg" alt="Update 1")
            h4 Update 1
            p A short description of Update 1
            a(href="#") Read more

          div.update-card
            img(src="update2.jpg" alt="Update 2")
            h4 Update 2
            p A short description of Update 2
            a(href="#") Read more

      section#community
        h2 Community & Collaboration
        // Embedded Discord chat for community discussions and networking
                // Embedded Discord chat for community discussions and networking
        div.embedded-discord
          h3 Community Discord Chat
          iframe(src="https://discord.com/widget?id=YOUR_SERVER_ID&theme=dark" width="100%" height="400px" allowtransparency="true" frameborder="0")

        // Upcoming events and webinars
        div.upcoming-events
          h3 Upcoming Events & Webinars
          ul
            li Event 1 - Date, Time - Location
            li Event 2 - Date, Time - Location

        // Recent blog posts and articles
        div.recent-blog-posts
          h3 Recent Blog Posts & Articles
          ul
            li
              a(href="#") Blog Post 1 - Date
            li
              a(href="#") Blog Post 2 - Date

        // Access to learning resources and courses
        div.learning-resources
          h3 Learning Resources & Courses
          ul
            li
              a(href="#") Course 1 - Provider
            li
              a(href="#") Course 2 - Provider

        // Calendar integration for tracking important events
        div.calendar-integration
          h3 Calendar Integration
          //- Add calendar integration here, such as embedding a Google Calendar or another service

        // Trending topics and hashtags within the community
        div.trending-topics
          h3 Trending Topics & Hashtags
          ul
            li #Topic1
            li #Topic2

        // Social media integration and sharing options
        div.social-media-integration
          h3 Social Media Integration & Sharing Options
          //- Add sharing buttons, widgets, or other social media integration

        // Featured partnerships and collaborations
        div.featured-partnerships
          h3 Featured Partnerships & Collaborations
          ul
            li
              a(href="#") Partner 1 - Collaboration Details
            li
              a(href="#") Partner 2 - Collaboration Details

        // Opportunities for volunteering and mentorship
        div.volunteering-mentorship
          h3 Volunteering & Mentorship Opportunities
          ul
            li
              a(href="#") Opportunity 1 - Organization, Location
            li
              a(href="#") Opportunity 2 - Organization, Location


      section#analytics
        h2 User Analytics & Performance
        // Analytics dashboard for user's project performance
        div.analytics-dashboard
          // Add user's project performance analytics dashboard here

        // Customizable widgets and dashboard layout
        div.customizable-widgets
          // Add customizable widgets and dashboard layout here

        // Real-time updates on token price and market performance
        div.token-price-market-performance
          // Add real-time updates on token price and market performance here (on the same container as Discord chat but on a different slide, similar to the index provided)

    footer
      // Insert footer content here
