doctype html
html(lang="en")
head
meta(charset="UTF-8")
meta(name="viewport", content="width=device-width, initial-scale=1.0")
title Careers | AI Incubator & DAO
style
  include ./css/style.css
  include ./css/join-us.css
  include ./css/footer.css
link(rel="stylesheet", href="/css/style.css")
link(rel="stylesheet", href="/css/join-us.css")
link(rel="stylesheet", href="/css/footer.css")
link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css')
script(src='/../../script.js')

body
include _header

.modal
  .modal-content
     .modal-header
       span.close &times;
     .modal-body
         section#introduction
          h2 Introduction
          p
            | We are an AI incubator that leverages the power of a DAO (Decentralized Autonomous Organization) model to create useful and innovative apps. Our success relies on the collective intelligence and collaboration of our community members.
          p
            | We use a token-based system to incentivize and reward contributors for their efforts in developing and improving our projects. By joining our community, you have the opportunity to work on cutting-edge AI projects, learn from like-minded professionals, and be part of a decentralized ecosystem that fosters innovation.
          section#token-information
          h2 Token Information
          p
            | The GPT DAO project is a decentralized startup incubator that aims to provide support, resources, and funding for innovative projects in the blockchain space. The project is built on the principles of transparency, community, and innovation, and it seeks to empower entrepreneurs through community-driven decision-making and transparent governance.
          p
            | The GPT DAO token is the native token of the project and will be used as a means of exchange and governance within the platform. The token will be launched on the Binance Smart Chain (BSC) and will have a total supply of 21 billion tokens.
          p
            | The token distribution is divided as follows: ...
          p
            | The token will have a burn mechanism where 1% of every transaction will be burned, reducing the total supply of tokens in circulation over time. Additionally, 1% of every transaction will be sent to the unlocked liquidity wallet, ensuring that there is always liquidity available for traders.
          p
            | The GPT DAO project and token seek to disrupt the traditional startup incubation model by leveraging the power of blockchain technology and decentralized governance. ...
          section#payment-structure
          h2 Payment Structure
          p
            | Interns and collaborators will be compensated with GPT DAO tokens. We offer a payment of 1 million tokens per month, with weekly payments of 250,000 tokens. This unique payment structure rewards interns with a stake in the project, aligning their interests with the success of the GPT DAO platform.
          section#collaboration-opportunities
          h2 Collaboration Opportunities
          p
            | We're always looking for passionate individuals to join our growing community. While we may not be able to offer traditional employment, we do provide internships and collaborations that can lead to valuable experiences and rewards in the form of tokens and NFTs.

.center-internship-list
ul#internship-list
   li
    img(src="/images/26.png")
    h3 AI Developer
    p
      | We are seeking an experienced AI developer to join our team and contribute to the development of cutting-edge AI applications.
    .apply-container
      button.apply-button Apply Now
    li
      img(src="/images/27.png")
      h3 UX/UI Designer
      p
        | We are seeking an experienced UX/UI designer to join our team and contribute to the design of intuitive and engaging user interfaces for our applications.
      .apply-container
        button.apply-button Apply Now
    li
      img(src="/images/28.png")
      h3 Data Scientist
      p
        | We are seeking a talented data scientist to join our team and help us unlock the full potential of our data-driven applications.
      .apply-container
        button.apply-button Apply Now
    li
      img(src="/images/38.png")
      h3 Community Manager
      p
        | We are seeking a motivated community manager to join our team and engage with our growing community of contributors and users.
      .apply-container
        button.apply-button Apply Now
    li
      img(src="/images/30.png")
      h3 Software Engineer
      p
        | We are seeking a skilled software engineer to help us develop and maintain our software infrastructure.
      .apply-container
        button.apply-button Apply Now
    li
      img(src="/images/31.png")
      h3 Machine Learning Engineer
      p
        | We are seeking a talented machine learning engineer to work on our cutting-edge AI applications.
      .apply-container
        button.apply-button Apply Now
    li
      img(src="/images/32.png")
      h3 Robotics Engineer
      p
        | We are seeking a robotics engineer to help us build and maintain our robotic systems.
      .apply-container
        button.apply-button Apply Now
    li
      img(src="/images/33.png")
      h3 Blockchain Developer
      p
        | We are seeking a skilled blockchain developer to help us integrate blockchain technology into our applications.
      .apply-container
        button.apply-button Apply Now
    li
      img(src="/images/34.png")
      h3 Cloud Architect
      p
        | We are seeking a cloud architect to help us design and implement our cloud infrastructure.
      .apply-container
        button.apply-button Apply Now
    li
      img(src="/images/35.png")
      h3 Database Administrator
      p
        | We are seeking a database administrator to help us manage and optimize our databases.
      .apply-container
        button.apply-button Apply Now
    li
      img(src="/images/36.png")
      h3 DevOps Engineer
      p
        | We are seeking a DevOps engineer to help us streamline our development and deployment processes.
      .apply-container
        button.apply-button Apply Now
    li
      img(src="/images/37.png")
      h3 Product Manager
      p
        | We are seeking a product manager to help us develop and execute our product roadmap.
      .apply-container
        button.apply-button Apply Now
      


include _footer