.register-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 5;
}

.modal {
  position: relative;
  width: 80%;
  max-width: 1000px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
  overflow: hidden;
}

.modal-grid {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  height: 100%;
}

.modal-left {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  padding: 0;
  position: relative;
}

.modal-left img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 101%;
  object-fit: cover;
}

.modal-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5rem 2rem;
  box-sizing: inherit;
}

.register-text {
  font-size: 2.4rem;
  margin-bottom: 1rem;
  text-align: center;
}

.register-credentials {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 35rem;
}

.register-label {
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: #333333;
  margin-bottom: 0.5rem;
}

.register-input {
  width: 100%;
  border: none;
  border-radius: 0.5rem;
  padding: 1.2rem;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.3);
  font-size: 1.4rem;
  color: #555555;
}

.register-button-container {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.register-button {
  padding: 1rem 2.5rem;
  background-color: #338feb;
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.5);
  border: none;
  border-radius: 0.6rem;
  font-size: 1.6rem;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.register-button:hover {
  transform: translateY(-2px);
  background-color: #0b69c6;
  box-shadow: 1px 1px 8px 0 rgba(0, 0, 0, 0, 0.7);
}

.already-registered {
  padding-top: 4rem;
  font-size: 1.4rem;
  color: #555555;
  text-align: center;
}

.already-registered a {
  color: #007bff;
}

@media screen and (max-width: 768px) {
  .modal {
    width: 95%;
  }

  .modal-grid {
    grid-template-columns: 1fr;
  }

  .modal-left {
    padding: 0;
  }

  .modal-right {
    padding-top: 2rem;
  }

  .register-credentials {
    max-width: 20rem;
  }
}

a:link,
a:visited,
a:hover {
  color: #444 !important;
}

.error-message {
  visibility: hidden;
  margin: 0;
  padding: 0;
  line-height: 0.1;
  color: red;
}

.error-message p {
  font-size: 14px;
}
